<!DOCTYPE html>
<html>
  <head>
    <title><%= @og_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/poopypants.css" media="screen">

    <meta property="og:title" content="<%= @og_title %>" />
    <meta property="og:site_name" content="poopypants.net"/>
    <meta property="og:url" content='https://poopypants.net/<%= "#{@first}/#{@last}" if @first %>' />
    <meta property="og:image" content="https://poopypants.net/images/poop.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="<%= @og_description %>" />
    <meta property="og:type" content="article" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2><a href="/">💩 POOPYPANTS 💩</a></h2>
          <%= yield %>
          <div id="footer">
            <ul class="list-inline">
              <li><a href="/">home</a></li>
              <li><a href="/about">about</a></li>
              <li><a href="http://eliduke.com" target="_blank">eliduke.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
