<p class="hello">Hello, <%= first %> <%= last %></p>
<p class="according">According to Professor Poopypants, your new name is</p>
<p class="well well-sm poopypants"><%= new_first %> <%= new_middle %><%= new_last %></p>
<p><a href="/" class="btn-lg button">Wanna try another one?</a></p>
