<p class="hello">Hey, <%= first %> <%= last %></p>
<p class="according">According to Professor Poopypants's Name Change-O-Chart 2000, your new name is</p>
<p class="well well-sm poopypants"><%= new_first %> <%= new_middle %><%= new_last %></p>
<p class="another"><a href="/">Wanna try another one?</a></p>
